/* common/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 기본 리셋 (모든 페이지에 공통 적용) */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* 기본 폰트 크기 설정 */
html {
	font-size: 16px; /* 1rem = 16px */
}

/* 기본 스타일 - 모바일 퍼스트 */
body {
	font-family: 'Noto Sans KR', sans-serif !important;
	font-size: 1rem; /* 16px */
	line-height: 1.5;
	padding: 1rem; /* 16px */
}

h1 {
	font-size: 2rem; /* 32px */
}

h2 {
	font-size: 1.5rem; /* 24px */
}

/* 공통 버튼 스타일 */
button {
	display: inline-block;
	padding: 0.5rem 1rem; /* 8px 16px */
	font-size: 1rem; /* 16px */
	font-weight: 600; /* 글꼴 굵기 */
	text-align: center;
	cursor: pointer;
	border: 2px solid transparent; /* 테두리 기본 값 */
	border-radius: 0.5rem; /* 8px */
	transition: all 0.3s ease; /* 부드러운 전환 효과 */
	background-color: #0a8b11; /* 기본 배경색 (파란색) */
	color: white; /* 글자 색 */
	outline: none; /* 아웃라인 제거 */
}

button:hover {
	background-color: #696b6a; /* 마우스 오버 시 배경색 변경 */
}

ul,
ol {
	list-style: none; /* 목록 스타일 제거 */
}

img {
	max-width: 100%; /* 이미지가 부모 요소를 넘지 않도록 */
	height: auto;
}

/* a {
	text-decoration: none; //링크 기본 스타일 
	color: inherit;  //링크 색상 기본 텍스트 색상에 맞춤 
} */

.container {
	max-width: 100%;
	margin: 0 auto;
}

/* 기본 레이아웃 */
.container {
	padding: 6.5rem 3.5rem; /* 16px */
}

/* 태블릿: 화면 너비가 768px 이상일 때 */
@media (min-width: 48rem) {
	/* 768px */
	html {
		font-size: 18px; /* 1rem = 18px */
	}

	body {
		font-size: 1.125rem; /* 18px */
	}

	h1 {
		font-size: 2.5rem; /* 45px */
	}

	h2 {
		font-size: 2rem; /* 36px */
	}

	button {
		padding: 0.5rem 1rem; /* 8px 16px */
		font-size: 1.05rem; /* 12.6px */
	}

	.container {
		max-width: 60rem; /* 960px */
		padding: 7.5rem 5rem; /* 32px */
	}
}

/* 데스크탑: 화면 너비가 1024px 이상일 때 */
@media (min-width: 64rem) {
	/* 1024px */
	html {
		font-size: 20px; /* 1rem = 20px */
	}

	body {
		font-size: 1.25rem; /* 20px */
	}

	h1 {
		font-size: 3rem; /* 60px */
	}

	h2 {
		font-size: 2.5rem; /* 50px */
	}

	button {
		padding: 0.4em 0.6rem; /* 8px 16px */
		font-size: 0.9rem; /* 12.96px */
	}

	.container {
		max-width: 75rem; /* 1200px */
		padding: 8rem 5rem; /* 40px */
	}
}
