/* common/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 기본 리셋 (모든 페이지에 공통 적용) */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

/* 기본 폰트 크기 설정 (반응형) */
html {
	font-size: clamp(16px, 1.25vw, 50px); /* 1rem 기준 유동 크기 */
	height: 100%; /* 화면 전체 높이 사용 */
}

/* 기본 스타일 - 모바일 퍼스트 */
body {
	font-family: 'Noto Sans KR', sans-serif !important;
	font-size: clamp(1rem, 1.4vw, 2rem); /* 16px ~ 20px */
	line-height: 1.5;
	padding: 1rem;
	height: 100%; /* 화면 전체 높이 사용 */
}

h1 {
	font-size: clamp(2rem, 4vw, 3rem); /* 32px ~ 60px */
}

h2 {
	font-size: clamp(1.5rem, 3vw, 2.5rem); /* 24px ~ 50px */
}

/* 공통 버튼 스타일 */
button {
	display: inline-block;
	padding: 0.5rem 1rem; /* 8px 16px */
	font-size: clamp(0.7rem, 1vw, 1.05rem); /* 14.4px ~ 16.8px */
	font-weight: 600;
	text-align: center;
	cursor: pointer;
	border: 2px solid transparent;
	border-radius: 0.5rem;
	transition: all 0.3s ease;
	background-color: #0a8b11;
	color: white;
	text-decoration: none; /* 링크 스타일 없애기 */
	outline: none;
}
button:hover {
	background-color: #696b6a;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

/* 기본 레이아웃 */
.container {
	max-width: 100%;
	margin: auto;
	padding: 0.5rem 1rem 2rem 1rem;
}

/* 태블릿 이상에서 컨테이너 너비 제한 */
@media (min-width: 48rem) {
	.container {
		max-width: 60rem; /* 960px */
		padding: 7.5rem 5rem;
	}
}

/* 데스크탑 이상에서 컨테이너 최대 너비 */
@media (min-width: 64rem) {
	.container {
		max-width: 75rem; /* 1200px */
		padding: 2rem 2rem;
	}
}
