/* common/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 기본 폰트 설정 */
body {
	font-family: 'Noto Sans KR', sans-serif !important;
}

.custom-navbar {
	background-color: #e7f5e1 !important;
}

/* 공통 버튼 스타일 */
button {
	display: inline-block;
	padding: 10px 20px; /* 버튼 크기 조정 */
	font-size: 12px; /* 글자 크기 */
	font-weight: 600; /* 글꼴 굵기 */
	text-align: center;
	cursor: pointer;
	border: 2px solid transparent; /* 테두리 기본 값 */
	border-radius: 8px; /* 둥근 모서리 */
	transition: all 0.3s ease; /* 부드러운 전환 효과 */
	background-color: #0a8b11; /* 기본 배경색 (파란색) */
	color: white; /* 글자 색 */
	outline: none; /* 포커스 시 기본 아웃라인 제거 */
}

button:hover {
	background-color: #696b6a; /* 마우스 오버 시 배경색 변경 */
}
